services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: scholar_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_NAME: scholar_db
      DATABASE_USER: admin
      DATABASE_PASSWORD: admin

  frontend:
    build: ./frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend/globe-scholars:/app
    depends_on:
      - backend

volumes:
  postgres_data:
